* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
	background-image:url("Home.jpg");
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100px;
	margin:0;
}
.container{
	background-color:#fff;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(238 246 255 / 40%) 0px 0px 0px 7px,
      rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
}

.Title h1{
	margin:10px;
	color: darkslategray;
	text-align:center;
    font-style:italic;
    
}
.Title p
{
    color:#E0FFFF;
    text-align:center;

}
.Title h2
{
    color:#800000;
    text-align:center;

}
form {
    margin-top: 40px;
  }
  label {
    font-size: 20px;
  }
  span {
    color: red;
  }
  input {
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0;
    border-color: transparent;
  }
  input:focus {
    outline: none;
  }
  i {
    margin: 0 3px;
  }
  i.fa-circle-check {
    position:absolute;
	top:30px;
	right:10px;
	visibility:hidden;
  }
  i.fa-circle-exclamation {
    position:absolute;
	top:30px;
	right:10px;
	visibility:hidden;
  }
.error
  {
    position:absolute;
bottom:0px;
color:red;
left:0px;
visibility:hidden;
  }
  button {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
  }
  .login-img img {
    max-width: 100%;
    max-height: 100%;
  }
